.Pages{
    text-align: center;
}
.Pages p{
    display: inline-block;
    font-weight: 900;
    font-size: 1.5vw;
}
.active1 {
    display: inline-flex;
}
.active1 li a{
    color: rgb(0, 0, 0);
    font-weight: 900;
    border: 1px solid rgb(180, 205, 252);
    padding: 5px;
    border-radius: 190px;
    background-color: rgba(15, 84, 187, 0.705);
    font-size: 1.5vw;
}
.unactive{
    display: inline-flex;
}
.unactive li a{
    color: black;
    font-weight: 500;
    font-size: 1.3vw;
}